
// $color_pumice_approx: #c9c7c7;
// $color_flush_orange_approx: #fc8200;
// $color_smalt_approx: #033a9f;

//fonts
// $font_0: Open Sans;
// $font_1: sans-serif !important;
// $font_2: Arial;

//urls
// $url_0: url(/assets/web_heart_animation.png);
// -------------------------------------------------feeds.css -------------------------------------
* {
	font-family:Open Sans, sans-serif !important;
}
.userava {
	height: 35px;
	width: 35px;
}
.showNav {
	position: relative;
}
.userNavBar {
	position: absolute;
	right: 20px;
	top: 2px;
	bottom: 10px;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background-color: #F2F3F5;
}
.body {
	margin-top: 50px;
	min-height: 100vh;
}
.HeartAnimation {
	background-image: url(/assets/web_heart_animation.png);
	background-repeat: no-repeat;
	background-size: 2900%;
	background-position: left;
	height: 60px;
	width: 60px;
	cursor: pointer;
	margin: 0 0 -25px -20px;
}
.animate {
	animation: heart-burst .8s steps(28) forwards;
}
@keyframes heart-burst {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
.responsiveimg {
	width: 100%;
	height: 100%;
}
.row {
	height: fit-content;
}
.row-text {
	margin: 50px 0 0 10px;
	height: 10em;
	overflow: auto;
}
.card-text {
	overflow: scroll;
}
.mid {
	position: relative;
	height: auto;
	width: 100%;
}
.likesspan {
	margin: 0 0 0 -40px;
}
.card-body {
	position: relative;
	margin-top: 50px;
}
.card {
	border: none;
}
.content {
	border: #c9c7c7 solid 1px;
	border-left: none;
	background-color:  #e7e7e7;
	p {
		margin-top: -20px;
	}
}
.bot-element {
	position: absolute;
	bottom: 10px;
}
.bot-element-text {
	position: absolute;
	left: 70px;
	bottom: 3px;
	font-size: 14px;
}
hr {
	position: absolute;
	border: 0;
	border-top: 3px solid #c9c7c7;
	bottom: 10px;
	width: 95%;
}
.date {
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 12px;
}
.userInfo {
	position: absolute;
	top: 0;
	left: 20px;
	a {
		margin: 10px 0 0 5px;
	}
}
.img {
	border: #c9c7c7 solid 1px;
	border-right: none;
	background-color:  #e7e7e7;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: auto;
	min-height: 20em;
	position: relative;
	&:hover {
		cursor: alias;
	}
	> img {
		height: 70%;
		width: 80%;
		position: absolute;
		top: 40px;
		left: 30px;
		right: 0;
		bottom: 0;
	}
	> .single{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.feed-fistimg{
	z-index: 3;
}

.feed-secondimg{
	z-index: 2;
	-webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
.feed-thirdimg{
	z-index: 1;
	-webkit-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}

.col-lg-10 {
	background-color: white;
}
.follow-button {
	background-color: white;
	border-radius: 28px;
	border: 1px solid #fc8200;
	display: inline-block;
	cursor: pointer;
	color:#033a9f;
	font-family: Arial;
	font-size: 10px !important;
	text-decoration: none;
	text-shadow: 0 1px 0 #fc8200;
	width: 60px;
	height: 20px;
	position: absolute;
	top: 8px;
	right: 1px;
	padding: 1px 0 0 10px;
	&:hover {
		background-color: #fc8200;
	}
	&:active {
		position: absolute;
		right: 5px;
	}
}
.container.body {
	width: 100vh !important;
	min-width: 100%;
}

.modal-body > img {
	width: 100%;
	height: 100%;
}
.next:hover {
	cursor: alias;
}
.prev:hover {
	cursor: alias;
}



// --------------------------------------------end of feeds.css -------------------------------------


// ------------------------------------- userpersonal.css ---------------------------------------

.us.rounded-circle {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
}

.body {
  min-width: 100vw;
  background-color: #F2F3F5;
}

.us.mid {
	background-color: white;
	min-height: 100vh;
}

.us.gocenter {
  margin-left: 100px;
}

.us.edit-btn {
  background-color: white;
  border-radius: 28px;
  border: 1px solid #033a9f;
  display: inline-block;
  cursor: pointer;
  color: #033a9f;
  font-family: Arial;
  font-size: 10px !important;
  text-decoration: none;
  width: 60px;
  height: 20px;
  padding: 1px 0 0 6px;
  &:hover {
    text-decoration: none;
    background-color: #033a9f;
    color: white;
  }
}

.us.username {
  font-size: 40px;
}

.us.userdiv ul {
  margin: -10px 0 0 -10px;
}

.us.imgrow {
  height: auto;
}

.us.usercard {
  width: 150px;
  height: 100%;
  border: none;
  position: relative;
}

.us.card-img-top {
  height: 150px !important;
}

.us.card-body {
  font-size: 10px;
  margin-top:10px;
}

.us.photonums {
  display: none;
  position: absolute;
  top: 20%;
  left: 23%;
  background-color: rgba(245, 245, 245, 0.4);
  height: 80px;
  width: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  z-index: 3;
}

.us.albumThumbnail {
  position: relative;
}

.us.firstimg {
  position: absolute;
  z-index: 2;
}

.us.secondimg {
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
  z-index: 1;
}

.us.thirdimg {
  position: absolute;
  top: 2px;
  -webkit-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
  z-index: 0;
}

.us.lockdiv {
  z-index: 3;
  position: absolute;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  right: 2px;
}

.us.lock {
  width: 70%;
  height: 70%;
  margin-bottom: 5px;
}

.paEdit {
  position: absolute;
  top: 120px;
  right: 5px;
  background-color: rgba(57, 62, 69, 0.2);
  width: 60px;
  height: 20px;
  font-size: 14px;
  padding: 0 0 0 18px;
  text-decoration: none;
  color: white;
  border-radius: 28px;
  z-index: 3;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.us.addPhoto-btn {
  float: right;
  background-color: #04570a;
  border-radius: 28px;
  border: 1px solid #04570a;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 10px !important;
  text-decoration: none;
  width: 70px;
  height: 20px;
  padding: 1px 0 0 10px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.us-nophoto{
	margin-top: 200px;
	font-size: 30px;
}

.us.usertab{
	cursor: pointer;
}

// ------------------------------------- end of userpersonal.css --------------------------------
