
#carouselFade.carousel.slide.carousel-fade data-ride="carousel"
  .carousel-inner role="listbox"
    - gallery.photos.each_with_index do |photo,index|
      - if index == 0
        .carousel-item.active
          .carousel-title.carousel-info
            h5#ptitle= photo.title
          = image_tag photo.attached_image.url,class:'img-fluid img-carousel'
          .carousel-description
            p#pdescription= photo.description
      - else
        .carousel-item
          .carousel-title.carousel-info
            h5#ptitle= photo.title
          = image_tag photo.attached_image.url,class:'img-fluid img-carousel'
          .carousel-description
            p#pdescription= photo.description
  a.carousel-control-prev data-slide="prev" href="#carouselFade" role="button"
    span.carousel-control-prev-icon aria-hidden="true"
    span.sr-only Previous
  a.carousel-control-next data-slide="next" href="#carouselFade" role="button"
    span.carousel-control-next-icon aria-hidden="true"
    span.sr-only Next
