<div class="carousel-title carousel-info">
  <h5 id="ptitle"><%=current_gallery.title%></h5>
</div>
<%= image_tag current_gallery.attached_image,class:'img-fluid img-preview' %>
<div class="carousel-description">
  <p id="pdescription"><%=current_gallery.description%></p>
</div>