.carousel-title.carousel-info
  h5#ptitle= current_gallery.title
= image_tag current_gallery.attached_image,class:'us img-fluid img-preview'
.carousel-description
  p#pdescription= current_gallery.description
