.col-lg-10.col-12.us.mid
  .row.us.gocenter
    div id=("col-lg-4 col-12 useravatar inline-block")
      = image_tag 'profile/4k-ultra-hd-abstract-nebula-space-creative-galaxy-background_nybzvmxi__F0000.png',alt:"Sample image",class:"us rounded-circle",'data-id':current_user.id
    .col-lg-8.col-12.inline-block.ml-2.us.userdiv
      a.us.edit-btn href="#"  Edit Profile
      p.font-weight-bolder.us.username= "#{@user.first_name} #{@user.last_name}"
      ul.list-inline
        li.list-inline-item
          a.btn.btn-link.us.usertab.font-weight-bolder href="#" onclick=("return false;") ="#{get_all_photos(@user).size}  Photos"
        li.list-inline-item |
        li.list-inline-item
          a.btn.btn-link.us.usertab.text-black-50 href="#" onclick=("return false;") ="#{get_albums_count(@user)}  Albums"
        li.list-inline-item |
        li.list-inline-item
          a.btn.btn-link.us.usertab.text-black-50 href="#" onclick=("return false;") ="#{@user.followees.size}  Followings "
        li.list-inline-item |
        li.list-inline-item
          a.btn.btn-link.us.usertab.text-black-50 href="#" onclick=("return false;") ="#{@user.followers.size}  Followers"
    .profile-content
      = render partial: 'users/userphoto',locals: {mode:"photo",user:current_user}
