/ - unless link.nil?
/ - if mode=="photo"
/   = image_tag link, alt:"#{t '.your_image'}", class:"single inner-img photo"
/ - if mode=="album"
/   = image_tag link, alt:"#{t '.your_image'}", class:" ab inner-img feed-firstimg"
/   = image_tag link, alt:"#{t '.your_image'}", class:" ab inner-img feed-secondimg"
/   = image_tag link, alt:"#{t '.your_image'}", class:" ab inner-img feed-thirdimg"
