.col-lg-10.col-12.mid
  .text-center.mt-2
    .btn-group.btn-group-lg aria-label=("Basic example") role="group"
      = button_tag "Photo", class: "btn btn-outline-primary active pa",method: :get
      = button_tag "Album", class: "btn btn-outline-primary pa",id:"album",method: :get
  .container
    /! row 1
    .row
      /! 1st card
      .col-12.col-lg-6
        .card
          .card-body
            .container
              .row
                .col-lg-6.col-12.py-0.img
                  = render partial: 'users/thumbnail',locals:{link:"uploads/pnggrad16rgb.png", mode:"photo"}
                  = render partial: 'users/thumbnail',locals:{mode:"album",link:"uploads/pnggrad16rgb.png"}
                .col-lg-6.col-12.content
                  .userInfo
                    = link_to root_path do
                      = image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava"
                      span.align-self-center.ml-1.text-black.font-weight-bolder
                        = "#{User.find(10).first_name} #{User.find(10).last_name}"
                  .row.row-text
                    h5.card-title Card title
                    br/
                    br/
                    p
                      | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      | Dolorum,
                      | cum atque facilis earum sunt necessitatibus corrupti eos
                      | excepturi
                      | nobis sequi, odit repellat veniam, minus debitis soluta fugit
                      | reprehenderit vitae? Aliquid!
                  .row.px-2
                    hr/
                    .HeartAnimation.d-inline-block.bot-element
                    span.likesspan.bot-element-text 123 Likes
                    span.date 18/06/19 16:00:00
      /! end of 1st card
      /! 2nd card
      .col-12.col-lg-6
        .card
          .card-body
            .container
              .row
                .col-lg-6.col-12.py-0.img
                  = render partial: 'users/thumbnail',locals:{link:"uploads/sample2.jpeg", mode:"photo"}
                  = render partial: 'users/thumbnail',locals:{mode:"album",link:"uploads/sample2.jpeg"}
                .col-lg-6.col-12.content
                  .userInfo
                    = link_to root_path do
                      = image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava"
                      span.align-self-center.ml-1.text-black.font-weight-bolder
                        = "#{current_user.first_name} #{current_user.last_name}"
                  .row.row-text
                    h5.card-title Card title
                    br/
                    br/
                    p
                      | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      | Dolorum,
                      | cum atque facilis earum sunt necessitatibus corrupti eos
                      | excepturi
                      | nobis sequi, odit repellat veniam, minus debitis soluta fugit
                      | reprehenderit vitae? Aliquid!
                  .row.px-2
                    hr/
                    .HeartAnimation.d-inline-block.bot-element
                    span.likesspan.bot-element-text 123 Likes
                    span.date 18/06/19 16:00:00
      /! end of 2nd card
    /! end of row 1
    /! row 2
    .row
      /! 1st card
      .col-12.col-lg-6
        .card
          .card-body
            .container
              .row
                .col-lg-6.col-12.py-0.img
                  = render partial: 'users/thumbnail',locals:{link:"uploads/sample3.jpg", mode:"photo"}
                  = render partial: 'users/thumbnail',locals:{mode:"album",link:"uploads/sample3.jpg"}
                .col-lg-6.col-12.content
                  .userInfo
                    = link_to root_path do
                      = image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava"
                      span.align-self-center.ml-1.text-black.font-weight-bolder
                        = "#{current_user.first_name} #{current_user.last_name}"
                  .row.row-text
                    h5.card-title Card title
                    br/
                    br/
                    p
                      | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      | Dolorum,
                      | cum atque facilis earum sunt necessitatibus corrupti eos
                      | excepturi
                      | nobis sequi, odit repellat veniam, minus debitis soluta fugit
                      | reprehenderit vitae? Aliquid!
                  .row.px-2
                    hr/
                    .HeartAnimation.d-inline-block.bot-element
                    span.likesspan.bot-element-text 123 Likes
                    span.date 18/06/19 16:00:00
      /! end of 1st card
      /! 2nd card
      .col-12.col-lg-6
        .card
          .card-body
            .container
              .row
                .col-lg-6.col-12.py-0.img
                  = render partial: 'users/thumbnail',locals:{link:"uploads/sample4.jpg", mode:"photo"}
                  = render partial: 'users/thumbnail',locals:{mode:"album",link:"uploads/sample4.jpg"}
                .col-lg-6.col-12.content
                  .userInfo
                    = link_to root_path do
                      = image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava"
                      span.align-self-center.ml-1.text-black.font-weight-bolder
                        = "#{current_user.first_name} #{current_user.last_name}"
                  .row.row-text
                    h5.card-title Card title
                    br/
                    br/
                    p
                      | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      | Dolorum,
                      | cum atque facilis earum sunt necessitatibus corrupti eos
                      | excepturi
                      | nobis sequi, odit repellat veniam, minus debitis soluta fugit
                      | reprehenderit vitae? Aliquid!
                  .row.px-2
                    hr/
                    .HeartAnimation.d-inline-block.bot-element
                    span.likesspan.bot-element-text 123 Likes
                    span.date 18/06/19 16:00:00
      /! end of 2nd card
    /! end of row 2
.col-lg-1.col-12
/! Modal for showing picture
#exampleModal3.modal.fade aria-hidden="true" aria-labelledby="exampleModal3Label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        h5.modal-title
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  ×
      .modal-body
        = content_tag("a","back", class: "prev text-primary ")
        = content_tag("a","next", class: "next float-right text-primary")
        = image_tag ' ',alt:"image",class:"img-fluid",id:"modal-body-image"
      .modal-footer
        p
/! Modal for showing picture
