<%= render 'show.html.erb' %>
 <!-- Modal for showing picture -->
<div class="us modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="us modal-body">

            </div>
            <div class="us modal-footer container-fluid">
              <p class="mr-auto"></p>
            </div>
    </div>
  </div>
</div>
<!-- Modal for showing picture -->
