<%= render 'show.html.erb' %>
 <!-- Modal for showing picture -->
<div class="us modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="float-right mr-3 mt-3">×</span>
            </button>
            <div class="us modal-body">

            </div>

        </div>
</div>
<!-- Modal for showing picture -->
