= render 'show.html.slim',user:current_user
/! Modal for showing picture
#exampleModal3.us.modal.fade aria-hidden="true" aria-labelledby="exampleModal3Label" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      button.close aria-label="Close" data-dismiss="modal" type="button"
        span.float-right.mr-3.mt-3 aria-hidden="true"  ×
      .us.modal-body
  /! Modal for showing picture
