.rounded-circle {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
}

.body {
  min-width: 100vw;
}

.following-btn {
  background-image: linear-gradient(to right, #fe8c00 51%, #f83600 100%);
  border-radius: 28px;
  border: 1px solid #fc8200;
  display: inline-block;
  cursor: pointer;
  color: #033a9f;
  font-family: Arial;
  font-size: 10px !important;
  text-decoration: none;
  text-shadow: 0 1px 0 #fc8200;
  width: 60px;
  height: 20px;
  padding: 1px 0 0 8px;
}

.following-btn:hover {
  text-decoration: none;
}

.username {
  font-size: 40px;
}

.userdiv ul {
  margin: -10px 0 0 -10px;
}

.gocenter{
  margin-left: 150px;
}

.imgrow {
  height: auto;
}
.usercard {
  width: 200px;
  height: 100%;
  background-color: #F2F3F5;
  position: relative;
}

.card-img-top {
  height: 150px !important;
}

.card-body {
  font-size: 15px;
  margin-top : -10px;
}

.card-img-top {
  height: 80px !important;
  width: 80px;
  margin:5px 0 0 60px;
}

.firstchild{
  font-size: 30px;
  color: #4287f5;
}
.secondchild{
  margin-top: -20px;
}

.card-following-btn{
  margin-bottom: 10px;
}

.card-following-btn a{
  background-image: white;
  border-radius: 28px;
  border: 1px solid #fc8200;
  display: inline-block;
  cursor: pointer;
  color: #033a9f;
  font-family: Arial;
  font-size: 10px !important;
  text-decoration: none;
  text-shadow: 0 1px 0 #fc8200;
  width: 60px;
  height: 20px;
  color :#fc8200;
  padding: 1px 0 0 4px;
}

.card-following-btn a:hover{
  text-decoration: none;
  background-image: linear-gradient(to right, #fe8c00 51%, #f83600 100%);
  color: white;
}

